
$primary: #FFF5F8;
$secondary: #6A66A3;
$hover: #C2E7D9;
$text: #323232;

$break: 800px;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    color: $text;
    height: 2000px;
    // background-color: #fff5f8;
}

a{
    text-decoration: none;
    color: $text;
}

.link{
    color: $text;
    text-decoration: none;

    border-bottom: .3em solid $hover;
    @media (min-width:$break) {
        text-decoration: none;
        border-bottom: none;

    }
}

.link:hover{
    // text-decoration: underline;
    // text-decoration-color: $hover;
    text-decoration-thickness: .3em;
    border-bottom: .3em solid $hover;


}
.button{
    // color: $text;
    // text-decoration: underline;
    // text-decoration-color: $hover;
    // text-decoration-thickness: .3em;

        background-color: $secondary;
        border-radius: 15em;
        padding-inline: 20vw;
        padding-block: .5em;
        color: white;
        border: 0.3em solid $secondary;
        text-decoration: none;
        @media (min-width:$break){
            padding-inline: 1.5em;

        }
}

.button:hover
{ 
    // text-decoration: underline;
    // text-decoration-color: $hover;
    // text-decoration-thickness: .3em;
 
        border: 0.3em solid $hover;
        text-decoration: none;
 
}
header {
    background-color: white;
    padding-block: 1em;
    padding-inline: 15%;
    box-shadow: 0px -46px 51px 20px rgba(0,0,0,0.45);
    // width: 100%;
    @media (min-width: $break) {
        position: sticky; top: 0;
        padding-block: .5em;

    }
  
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;    
        // margin-block: 1em;
@media (min-width: $break) {
            justify-content: space-between;
            flex-direction: row;    
            margin-block: .5em;
        }

        img {
            max-height: 4em;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            flex-wrap: nowrap;
            align-items: center;
            margin-bottom: 1em;

            @media (min-width: $break) {
                // margin-block: 2em;
                justify-content: end;
                align-items: end;
                flex-direction: row;

            }

            li {
                margin-block: 1em;
                padding-inline: .5em;
                white-space: nowrap;
            
            }
        }
    }
}



main{
    margin-inline: 5%;
    @media (min-width: $break) {
        margin-inline: 15%;
    }
}

// SECTION 1 (Hero)

.section1{
    margin-top: 1.5em;
    max-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    border: 0em solid $primary;
    border-radius: 1em;

    h2{
        order: 1;
        text-align: left;
        // align-self: last baseline;
        margin-left: 1em;
        margin-top: 4em;
        margin-bottom: 1em;
        span{
            font-weight: bold;
            font-size: xx-large;
            margin-right: .6em;
        }
    }
    img{
        order: 2;    
        min-width: 100%;
        overflow: hidden; 
        border-radius: 0em 0em 1em 1em;
        min-height: 100%;

    }
}

@media (min-width: $break) {

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    border: 0em solid $primary;
    border-radius: 1em;
    // margin-inline: 15%;
    img{
        height: 40vh;
        order: 1;
        border-radius: 1em 0em 0em 1em;
        min-width: 0%;
        min-height: 4em;
    }
    h2 {
        order: 2;
        text-align: right;
        align-self: last baseline;
        margin-right: 1em;
    }
}
}

// .container-nav{
//     display: flex;
//     flex-direction: column;
//     // align-items: center;
//     // justify-content: end;
// }

//  BG COLOR SELECTOR

.bGButton{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  button {
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
  }
  
  .primary{
    background-color: #FFF5F8;
  }
  
  .secondary{
    background-color: #F0D9FF;
  }
  
  .accent1{
    background-color: #E1E4FF;
  }
  
  .accent2{
    background-color: #D4EEFF;
  }
  
  .accent3{
    background-color: #ECF8CC;
  }
  